<!DOCTYPE html>
<html>
<body>

<h2>Rekisteröidy</h2>

<p>Syötä käyttäjätunnus sekä salasana rekisteröityäksesi</p>

<form action="/register" method="POST">
  <label for="username">Tunnus:</label><br>
  <input type="text" id="username" name="usename"><br>
  <label for="password">Salasana:</label><br>
  <input type="text" id="password" name="password"><br><br>
  <label for="password">Syötä salasana uudelleen:</label><br>
  <input type="text" id="password2" name="password2"><br><br>
  <input type="submit" value="Rekisteröidy">
</form> 

</body>
</html>